.clr_0,
.clr_1,
.clr_5,
.clr_10,
.clr_15,
.clr_20,
.clr_30,
.clr_50,
.clr_80,
.clr_100,
.clr_hr {backmtound:none; clear:both !important; float:none !important; position:relative; padding:0 !important; margin:0 !important; display:block !important}
.clr_hr_danger {backmtound:none; clear:both !important; float:none !important; position:relative; padding:0 !important; margin:0 !important; display:block !important}
.clr_hr,
.clr_0 {height:0 !important;}
.clr_1 {height:1px !important}
.clr_5 {height:5px !important}
.clr_10 {height:10px !important}
.clr_15 {height:15px !important}
.clr_20 {height:20px !important}
.clr_30 {height:30px !important}
.clr_50 {height:50px !important}
.clr_80 {height:80px !important}
.clr_100 {height:100px !important}
.clr_hr {border-bottom:1px solid #CCC !important;}
.clr_hr_danger {border-bottom:1px solid #a94442 !important;}

/* Cards */

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 5px;
    min-height: 150px;
}
/*.box:hover {*/
/*box-shadow: 0 2px 5px 0 #72C279, 0 2px 10px 0 #72C279;*/
/*}*/

.box-icon {
    background-color: #434955;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon-danger {
    background-color: #da7b82 !important;
}

.box-export {
    height: 100px !important;
}
.box-icon-warning {
    background-color: #fcc94f !important;
}

.box-icon-info {
    background-color: #4ac7e0 !important;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

.btn-lg-custom {
    cursor: pointer !important;
}
.container {
    width: 100%;
    /*margin-left: 150px;*/
}
.list-group-item { cursor: pointer !important; }
.bt-md-title { !important; font-size: 22px;}
.box-export {min-height: 100px !important;}

/** Reporting CSS **/
.bt-reporting-details { padding-top: 10px; min-height: 150px;}
.bt-reporting-detail-table-header { padding: 5px  !important; font-weight: bold !important; text-transform: uppercase !important; text-align: center !important;}
.box-reporting {min-height: 325px !important;}
.box-reporting-info  {  border : 1px solid white;}
.box-reporting-warning { border : 1px solid white;}
.box-reporting-error { border : 1px solid white;}

.bt_report_notification {padding: 20px; text-align: center !important;}
.bt_container_reporting {	padding-top: 10px; }